STUDENT{
    display:block;
    margin-top: 12px;
    font-size: 20pt;
}
First{
    background: #888888;
}
Two{
    background: #374737;
}
Three{
    background: #243211;
}
Fo{
    background: teal;
}